[net]
# Testing
batch=1
subdivisions=1
# Training
#batch=64
#subdivisions=1
width=320
height=320
channels=3
momentum=0.9
decay=0.0005
angle=0
saturation = 1.5
exposure = 1.5
hue=.1

learning_rate=0.00261
burn_in=1000
max_batches = 2000200
policy=steps
steps=1600000,1800000
scales=.1,.1



[convolutional]
batch_normalize=1
filters=40
size=3
stride=1
pad=1
activation=silu 
# 1-P1/2  
[convolutional]
batch_normalize=1
filters=80
size=3
stride=2
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=80
size=3
stride=1
pad=1
activation=silu

# 3-P2/4 
[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=silu  
# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=silu 

[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=64
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=64
size=3
stride=1
pad=1
activation=silu

[route]
layers = -9,-7,-5,-3,-1
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu 


# DownC  16-P3/8 
[maxpool]
size=2
stride=2
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=silu
[route]
layers=-3 
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=silu
[route]
layers=-1,-4

# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=silu 
[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu

[route]
layers = -9,-7,-5,-3,-1
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=0
activation=silu  




# DownC   P4/16  
[maxpool]
size=2
stride=2
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu
[route]
layers=-3 
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=320
size=3
stride=2
pad=1
activation=silu
[route]
layers=-1,-4

# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu

[route]
layers = -9,-7,-5,-3,-1
[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=0
activation=silu  


# DownC   P5/32
[maxpool]
size=2
stride=2
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=0
activation=silu
[route]
layers=-3 
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=640
size=3
stride=2
pad=1
activation=silu
[route]
layers=-1,-4
# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu

[route]
layers = -9, -7,-5,-3,-1
[convolutional]
batch_normalize=1
filters=1280
size=1
stride=1
pad=0
activation=silu  

##################################   backbone end 
### SPPCSPC ###
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=silu 

[route]
layers = -2 
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=640
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=0
activation=silu

### SPP ###
[maxpool]
stride=1
size=5   
[maxpool]
stride=1
size=5 
[maxpool]
stride=1
size=13 
[route]
layers=-1,-2,-3,-4
### End SPP ### 
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=silu

[route]
layers = -1,-10
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=1
activation=silu
### End SPPCSPC ###


# # route backbone P4
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=silu 
[upsample]
stride=2
[route]
layers = 48
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=silu 
[route]
layers = -1,-3
# CSP-Mix-convs
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=1
activation=silu  

[route]
layers = -2
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu 
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu 
[route]
layers = -1,-3,-5,-7,-9
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=1
activation=silu


# # route backbone P3
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=silu 
[upsample]
stride=2
[route]
layers = 31
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=silu 
[route]
layers = -1,-3

# CSP-Mix-convs
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=1
activation=silu 
[route]
layers = -2
[convolutional]
batch_normalize=1
filters=128
size=1
stride=1
pad=0
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu 
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu  
[convolutional]
batch_normalize=1
filters=128
size=3
stride=1
pad=1
activation=silu 
[route]
layers = -1, -3, -5, -7, -9
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=1
activation=silu

# RepConv(fused-for-deploy)  
[convolutional]
batch_normalize=1
filters=320
size=3
stride=1
pad=1
activation=silu  
#  YOLO 
[convolutional]
batch_normalize=1
filters=255
size=1
stride=1
pad=1
activation=linear
[yolo]
mask = 0,1,2
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9

[route]
layers=-4
# layers= -6



# DownC   P4/32  
[maxpool]
size=2
stride=2
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=silu
[route]
layers=-3 
[convolutional]
batch_normalize=1
filters=160
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=160
size=3
stride=2
pad=1
activation=silu
[route]
layers=-1,-4,93



# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=256
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu 
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=256
size=3
stride=1
pad=1
activation=silu 
[route]
layers = -1, -3, -5, -7, -9
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu  


# RepConv(fused-for-deploy)  
[convolutional]
batch_normalize=1
filters=640
size=3
stride=1
pad=1
activation=silu
#  YOLO 
[convolutional]
batch_normalize=1
filters=255
size=1
stride=1
pad=1
activation=linear
[yolo]
mask = 3,4,5
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9 

[route]
layers=-4
# layers= -6


# DownC   P5/32
[maxpool]
size=2
stride=2
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu
[route]
layers=-3 
[convolutional]
batch_normalize=1
filters=320
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=320
size=3
stride=2
pad=1
activation=silu
[route]
layers=-1,-4, 77


# CSP-VOVNet
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=silu 
[route]
layers=-2 
[convolutional]
batch_normalize=1
filters=512
size=1
stride=1
pad=0
activation=silu 
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu 
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu
[convolutional]
batch_normalize=1
filters=512
size=3
stride=1
pad=1
activation=silu 
[route]
layers= -1, -3, -5, -7, -9
[convolutional]
batch_normalize=1
filters=640
size=1
stride=1
pad=0
activation=silu  


# RepConv(fused-for-deploy)   
[convolutional]
batch_normalize=1
filters=1280
size=3
stride=1
pad=1
activation=silu 
#  YOLO  
[convolutional]
size=1
stride=1
pad=1
filters=255
activation=linear 
[yolo]
mask = 6,7,8
anchors = 10,13, 16,30, 33,23, 30,61, 62,45, 59,119, 116,90, 156,198, 373,326
classes=80
num=9