# w d : 0.75
[net]
# Testing
#batch=1
#subdivisions=1
# Training
batch=32
subdivisions=8 
width=640
height=480
channels=3
momentum=0.949
# decay=0.001
decay=0.0005
angle=0.3
saturation=1.5
exposure=1.5
hue=.1

# learning_rate=0.00261
learning_rate=0.001261
burn_in=1000
max_batches=25000
policy=steps
steps=12000,20000
scales=.1,.1

#cutmix=1
mosaic=1

# Focus learning # 0-P1/2
[convolutional]
batch_normalize=1
filters=48
size=7
stride=2
pad=3
activation=leaky

# Downsample  # 2-P2/4
[convolutional]
batch_normalize=1
filters=96
size=3
stride=2
pad=1
activation=leaky

# CSPBlock layer  C3
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  x1
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=48
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=48
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
# repeat  residual module x1 end 
[route]
layers=-1,-9

[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky


# Downsample  layer # 11-P3/8
[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=leaky


# CSPBlock  layer  p-8
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear 
# repeat  residual module x1 end

[route]
layers=-1,-15

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

# Downsample  #26-  P4/16
[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=leaky

# CSPBlock  layer  p-8
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  3
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear
# repeat  residual module x1 end

[route]
layers=-1,-21

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky


# Downsample  # 41 - P5/32
[convolutional]
batch_normalize=1
filters=768
size=3
stride=2
pad=1
activation=leaky


#   NeckBottle Mix Module ：
# CSPBlock  layer  p-8
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  x2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear  
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=leaky
[shortcut]
from=-3
activation=linear 
# repeat  residual module x1 end

[route]
layers=-1,-9

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=leaky


[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
### SPP ###
[maxpool]
stride=1
size=5 
[maxpool]
stride=1
size=5 
[maxpool]
stride=1
size=5
[route]
layers=-1,-2,-3,-4
### End SPP ###
[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=leaky
#                                                                                              # backbone  Module end


[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route] 
layers= -1,54

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  x1
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
# repeat  residual module x1 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
# NeckBottle Mix Module end             


[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[upsample]
stride=2

[route] 
layers=-1,30

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  x1
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=96
size=3
stride=1
pad=1
activation=leaky
# repeat  residual module x1 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
# NeckBottle Mix Module end                  # eyed for mid 


##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
# input : 840
[yolo]
mask=0,1,2
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
scale_x_y=1.2
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6
# max_delta=5


[route]
layers=-3

[convolutional]
batch_normalize=1
filters=192
size=3
stride=2
pad=1
activation=leaky

[route]
layers=-1,85


#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module  x1
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=192
size=3
stride=1
pad=1
activation=leaky
# repeat  residual module x1 end

[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
# NeckBottle Mix Module end                  # eyed for mid 

##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
# input : 840
[yolo]
mask=3,4,5
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
scale_x_y=1.2
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6


[route]
layers=-3
[convolutional]
batch_normalize=1
filters=384
size=3
stride=2
pad=1
activation=leaky

[route]
layers=-1,73

#   NeckBottle Mix Module ：
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky

[route]
layers=-2
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
# repeat  residual module x1
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=384
size=1
stride=1
pad=1
activation=leaky
[convolutional]
batch_normalize=1
filters=384
size=3
stride=1
pad=1
activation=leaky
# repeat  residual module x1 end


[route]
layers=-1,-7

[convolutional]
batch_normalize=1
filters=768
size=1
stride=1
pad=1
activation=leaky
# NeckBottle Mix Module end

##########################
[convolutional]
size=1
stride=1
pad=1
filters=45
activation=linear
[yolo]
mask=6,7,8
anchors =  10, 14,  16, 31,  32, 20,  31, 53,  60, 36,  59, 92, 105, 60, 135,127, 248,212
classes=10
num=9
jitter=.3
ignore_thresh=.7
truth_thresh=1
random=0
scale_x_y=1.05
iou_thresh=0.213
cls_normalizer=1.0
iou_normalizer=0.07
iou_loss=diou
nms_kind=greedynms
beta_nms=0.6
# max_delta=5